@CHARSET "UTF-8";

article, aside, figure, figcaption, footer, header, hgroup, nav, section,
	summary {
	display: block;
}

/*#drag_image_here{
    display: none;
}*/

#fileInput {
	display:none;
}

#slide {
  background: rgba(218,165,32,0.8);
  border: solid 1px black;
  width: 730px;
  min-height: 550px;
  /*padding: 10px;*/
}

/*#slide p {
  font-family: Lucida Sans Unicode, serif;
}*/

#slide img {
  margin-top: 10px;
  border: solid 1px white;
}

#dropBox {
    margin: 15px;
    width: 300px;
    height: 300px;
    border: 5px dashed gray;
    border-radius: 8px;
    background: lightyellow;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}
 
#dropBox div {
    margin: 100px 70px;
    color: orange;
    font-size: 25px;
    font-family: Verdana, Arial, sans-serif;
}

.Content {
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 120%;
}

.Content .LeadIn {
  font-weight: bold;
  font-size: large;
  font-variant: small-caps;
}

.Content h2 {
  color: #24486C;
  margin-bottom: 2px;
  font-size: medium;
}

.Content p {
  margin-top: 0px;
}

.photo {
/* 	text-align: right; */
/* 	margin: 200px; */
	float: right;
	margin: 10px;
}

canvas {
    border: 1px dashed black;
}

body {
    background: white;
}

.Toolbar {
    float: left;
    font-family: 'Trebuchet MS'; 
    font-size: 14px;
    font-variant: small-caps;
    text-align: center;
    background: #F2F7FE;
    padding: 10px 15px 3px 10px;
    margin-bottom: 1px;
    margin-right: 1px;
    border: 1px solid #7B899B;
}

.Toolbar button {
    padding: 6px;
    margin: 7px 2px;
    font-variant: normal;
    font-size: 12px;
}

button {
    padding: 8px;
  }

.CanvasContainer {
    clear: both;
}

canvas {
    border: 1px solid #7B899B;
/*    border: 6px double black;
    background: white;*/
}

img {
    padding: 2px;
    border: 2px solid #F2F7FE;
}

img:hover {
    border: 2px groove #E4F0FE;
    background: white;
}


img.Selected {
    border: 2px groove #E4F0FE;
}

#savedCopyContainer {
    display: none;
    height: 226px;
}

#savedCopyContainer img {
    width: 250px;
    height: 150px;
}

.emptyblock {
	height: 300px;
        clear: both;
}

.emptyblock_both {
        clear: both;
        height: 5px;
}

#positionBar {
	height: 30px;
	color: white;
	font-weight: bold;
	background: steelblue;
	text-align: center;
}

#positionBar span {
	display: inline-block;
	margin-top: 5px;
}

#durationBar {
	border: solid 1px black;
	width: 600px;
	margin-bottom: 5px;
}

header {
	background-color: #7695FE;
	border: thin #336699 solid;
	padding: 10px;
	margin: 10px;
	text-align: center;
}

header h1 {
	margin: 0px;
	color: white;
	font-size: xx-large;
}

hgroup .Teaser {
	/* 	background-color: #00ff00; */
	margin: 0px;
	font-weight: bold;
	color: olive;
}

figure {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

nav {
	margin: 10px;
	max-width: 3000px;
	background-color: #FF6633;
	text-align: center;
}

mark {
	background-color: green;
	color: white;
}

nav ul {
	list-style: disc;
	display: inline-block;
}

nav ul li {
	float: left;
	margin: 0px 10px 0px 10px;
}

nav ul a {
	text-decoration: none;
	display: block;
	color: #FFFFFF;
}
/* input { */
/* 	width: 200px; */
/* } */
aside {
	float: right;
	max-width: 300px;
	border-top: thin black solid;
	border-bottom: thick black solid;
	font-size: 20px;
	line-height: 130%;
	font-style: italic;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 15px;
	margin-bottom: 10px;
}

aside img {
	width: 40px;
	height: 30px;
	vertical-align: bottom;
}

figure figcaption {
	max-width: 225px;
	font-size: small;
	font-style: italic;
	margin-bottom: 5px;
}

header .Byline {
	font-style: italic;
	font-size: small;
	margin: 0px;
	color: lime;
}

footer {
	text-align: center;
	font-size: x-small;
/* 	float:  */
}

footer .Disclaimer {
	font-style: italic;
}

footer p {
	margin: 3px;
}

fieldset {
	margin-bottom: 15px;
	padding: 10px;
        /*float: left;*/
}

legend {
	padding: 0px 3px;
	font-weight: bold;
	font-variant: small-caps;
}

label {
	width: 110px;
	display: inline-block;
	vertical-align: top;
	margin: 6px;
}

input:focus {
	background: #eaeaea;
}

input, textarea {
	width: 249px;
}

textarea {
	height: 100px;
}

select {
	width: 254px;
}

input[type=checkbox] {
	width: 10px;
}

input[type=submit] {
	width: 170px;
	/*   padding: 10px; */
}

input[type=button] {
	width: 100px;
	/*   padding: 10px; */
}

input[type=reset] {
	width: 100px;
	/*   padding: 10px; */
}

.barContainer {
        border: solid 1px black;
	width: 600px;
	margin-bottom: 5px;
}

.vcard {

}


.title {

}

.fn {

}

.nickname {

}

.org {

}

.tel {

}

.street-address {

}

.locality {

}

.postal-code {

}

.country-name {

}

.url {

}

#mapSurface {
    width: 600px;
    height: 400px;
    border: solid 1px black;
}

#primeContainer {
   border: solid 1px black;
   padding: 3px;
   height: 300px;
   max-width: 500px;
   overflow: scroll;
   overflow-x: hidden;
   font-size: x-small;
   margin-top: 20px;
   margin-bottom: 10px;
}